body{
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: brown;
    line-height: 1.5;
    background-color: cadetblue;
}

@media all and (max-width:600px){
    h2{
        background-color: red;
}
ul {background-color: orange;}
}
